# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg
MANIFEST
.installed.cfg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter notebooks
.ipynb_checkpoints/

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# Virtual environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# pyenv
.python-version

# PEP 582 project virtual environments
__pypackages__/

# IDE/editor folders
.vscode/
.idea/
.spyderproject
.spyproject

# OS metadata
.DS_Store
Thumbs.db

# Migration files, instances, logs
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
target/
